<a href="https://colab.research.google.com/github/tramyynt/COVID-19-impact-on-Digital-Learning-/blob/main/Covid_19_Impact_on_Digital_Learning_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


# **Covid Impact on Digital Learning**:
This Kaggle competition challenge is to uncover some trends in digital learning.

### **Problem Statement**
The COVID-19 Pandemic has disrupted learning for more than 56 million students in the United States. In the Spring of 2020, most states and local governments across the U.S. closed educational institutions to stop the spread of the virus. In response, schools and teachers have attempted to reach students remotely through distance learning tools and digital platforms. Until today, concerns of the exacaberting digital divide and long-term learning loss among America’s most vulnerable learners continue to grow.

### **What should focus on ?**


1.   What is the picture of digital connectivity and engagement in 2020?
2.   What is the effect of the COVID-19 pandemic on online and distance learning, and how might this also evolve in the future?
3. How does student engagement with different types of education technology change over the course of the pandemic?
4. How does student engagement with online learning platforms relate to different geography? Demographic context (e.g., race/ethnicity, ESL, learning disability)? Learning context? Socioeconomic status?
5. Do certain state interventions, practices or policies (e.g., stimulus, reopening, eviction moratorium) correlate with the increase or decrease online engagement?

## Data Preparation


1.   Import neccessary libs
2.   Get data from Kaggle API

In [60]:
import numpy as np 
import pandas as pd

import os
import glob
import matplotlib.pyplot as plt
import seaborn as sns
import re

In [2]:
!pip install -U -q kaggle==1.5.8

     |████████████████████████████████| 59 kB 4.8 MB/s
  Building wheel for kaggle (setup.py) ... done
  Building wheel for slugify (setup.py) ... done

In [9]:
!ls -la -r

total 20
drwxr-xr-x 1 root root 4096 Aug 25 13:35 sample_data
-rw-r--r-- 1 root root   66 Aug 26 18:04 kaggle.json
drwxr-xr-x 4 root root 4096 Aug 25 13:35 .config
drwxr-xr-x 1 root root 4096 Aug 26 17:49 ..
drwxr-xr-x 1 root root 4096 Aug 26 18:04 .

In [11]:
# MUST UPLOAD kaggle.json FIRST
# move kaggle.json to /root/.kaggle
!mv /kaggle.json /root/.kaggle
!chmod 600 /root/.kaggle/kaggle.json

In [12]:
!kaggle competitions download -c "learnplatform-covid19-impact-on-digital-learning"

Downloading learnplatform-covid19-impact-on-digital-learning.zip to /content
100% 124M/124M [00:02<00:00, 52.4MB/s]
100% 124M/124M [00:02<00:00, 54.1MB/s]

In [13]:
# unzip data
!unzip '*.zip'

Archive:  learnplatform-covid19-impact-on-digital-learning.zip
  inflating: README.md
  inflating: districts_info.csv
  inflating: engagement_data/1000.csv
  inflating: engagement_data/1039.csv
  inflating: engagement_data/1044.csv
  inflating: engagement_data/1052.csv
  inflating: engagement_data/1131.csv
  inflating: engagement_data/1142.csv
  inflating: engagement_data/1179.csv
  inflating: engagement_data/1204.csv
  inflating: engagement_data/1270.csv
  inflating: engagement_data/1324.csv
  inflating: engagement_data/1444.csv
  inflating: engagement_data/1450.csv
  inflating: engagement_data/1470.csv
  inflating: engagement_data/1536.csv
  inflating: engagement_data/1549.csv
  inflating: engagement_data/1558.csv
  inflating: engagement_data/1570.csv
  inflating: engagement_data/1584.csv
  inflating: engagement_data/1624.csv
  inflating: engagement_data/1705.csv
  inflating: engagement_data/1712.csv
  inflating: engagement_data/1742.csv
  inflating: engagement_data/1772.csv
  inflating: engagement_data/1791.csv
  inflating: engagement_data/1857.csv
  inflating: engagement_data/1877.csv
  inflating: engagement_data/1904.csv
  inflating: engagement_data/1965.csv
  inflating: engagement_data/2017.csv
  inflating: engagement_data/2060.csv
  inflating: engagement_data/2074.csv
  inflating: engagement_data/2106.csv
  inflating: engagement_data/2130.csv
  inflating: engagement_data/2165.csv
  inflating: engagement_data/2167.csv
  inflating: engagement_data/2172.csv
  inflating: engagement_data/2201.csv
  inflating: engagement_data/2209.csv
  inflating: engagement_data/2238.csv
  inflating: engagement_data/2257.csv
  inflating: engagement_data/2285.csv
  inflating: engagement_data/2321.csv
  inflating: engagement_data/2339.csv
  inflating: engagement_data/2393.csv
  inflating: engagement_data/2439.csv
  inflating: engagement_data/2441.csv
  inflating: engagement_data/2517.csv
  inflating: engagement_data/2549.csv
  inflating: engagement_data/2567.csv
  inflating: engagement_data/2598.csv
  inflating: engagement_data/2601.csv
  inflating: engagement_data/2685.csv
  inflating: engagement_data/2729.csv
  inflating: engagement_data/2779.csv
  inflating: engagement_data/2870.csv
  inflating: engagement_data/2872.csv
  inflating: engagement_data/2940.csv
  inflating: engagement_data/2956.csv
  inflating: engagement_data/2991.csv
  inflating: engagement_data/3080.csv
  inflating: engagement_data/3160.csv
  inflating: engagement_data/3188.csv
  inflating: engagement_data/3222.csv
  inflating: engagement_data/3228.csv
  inflating: engagement_data/3248.csv
  inflating: engagement_data/3266.csv
  inflating: engagement_data/3301.csv
  inflating: engagement_data/3314.csv
  inflating: engagement_data/3322.csv
  inflating: engagement_data/3371.csv
  inflating: engagement_data/3390.csv
  inflating: engagement_data/3393.csv
  inflating: engagement_data/3412.csv
  inflating: engagement_data/3471.csv
  inflating: engagement_data/3550.csv
  inflating: engagement_data/3558.csv
  inflating: engagement_data/3580.csv
  inflating: engagement_data/3640.csv
  inflating: engagement_data/3668.csv
  inflating: engagement_data/3670.csv
  inflating: engagement_data/3692.csv
  inflating: engagement_data/3710.csv
  inflating: engagement_data/3732.csv
  inflating: engagement_data/3772.csv
  inflating: engagement_data/3864.csv
  inflating: engagement_data/3936.csv
  inflating: engagement_data/3959.csv
  inflating: engagement_data/3986.csv
  inflating: engagement_data/4029.csv
  inflating: engagement_data/4031.csv
  inflating: engagement_data/4051.csv
  inflating: engagement_data/4083.csv
  inflating: engagement_data/4165.csv
  inflating: engagement_data/4183.csv
  inflating: engagement_data/4203.csv
  inflating: engagement_data/4314.csv
  inflating: engagement_data/4348.csv
  inflating: engagement_data/4373.csv
  inflating: engagement_data/4408.csv
  inflating: engagement_data/4516.csv
  inflating: engagement_data/4520.csv
  inflating: engagement_data/4550.csv
  inflating: engagement_data/4569.csv
  inflating: engagement_data/4591.csv
  inflating: engagement_data/4602.csv
  inflating: engagement_data/4629.csv
  inflating: engagement_data/4666.csv
  inflating: engagement_data/4668.csv
  inflating: engagement_data/4683.csv
  inflating: engagement_data/4744.csv
  inflating: engagement_data/4749.csv
  inflating: engagement_data/4775.csv
  inflating: engagement_data/4808.csv
  inflating: engagement_data/4921.csv
  inflating: engagement_data/4929.csv
  inflating: engagement_data/4936.csv
  inflating: engagement_data/4937.csv
  inflating: engagement_data/4949.csv
  inflating: engagement_data/5006.csv
  inflating: engagement_data/5042.csv
  inflating: engagement_data/5057.csv
  inflating: engagement_data/5150.csv
  inflating: engagement_data/5231.csv
  inflating: engagement_data/5257.csv
  inflating: engagement_data/5380.csv
  inflating: engagement_data/5404.csv
  inflating: engagement_data/5422.csv
  inflating: engagement_data/5479.csv
  inflating: engagement_data/5510.csv
  inflating: engagement_data/5524.csv
  inflating: engagement_data/5527.csv
  inflating: engagement_data/5600.csv
  inflating: engagement_data/5604.csv
  inflating: engagement_data/5627.csv
  inflating: engagement_data/5802.csv
  inflating: engagement_data/5882.csv
  inflating: engagement_data/5890.csv
  inflating: engagement_data/5903.csv
  inflating: engagement_data/5934.csv
  inflating: engagement_data/5970.csv
  inflating: engagement_data/5987.csv
  inflating: engagement_data/6046.csv
  inflating: engagement_data/6049.csv
  inflating: engagement_data/6055.csv
  inflating: engagement_data/6066.csv
  inflating: engagement_data/6104.csv
  inflating: engagement_data/6131.csv
  inflating: engagement_data/6144.csv
  inflating: engagement_data/6165.csv
  inflating: engagement_data/6194.csv
  inflating: engagement_data/6250.csv
  inflating: engagement_data/6345.csv
  inflating: engagement_data/6418.csv
  inflating: engagement_data/6512.csv
  inflating: engagement_data/6577.csv
  inflating: engagement_data/6584.csv
  inflating: engagement_data/6640.csv
  inflating: engagement_data/6665.csv
  inflating: engagement_data/6721.csv
  inflating: engagement_data/6762.csv
  inflating: engagement_data/6774.csv
  inflating: engagement_data/6919.csv
  inflating: engagement_data/6998.csv
  inflating: engagement_data/7086.csv
  inflating: engagement_data/7164.csv
  inflating: engagement_data/7177.csv
  inflating: engagement_data/7305.csv
  inflating: engagement_data/7308.csv
  inflating: engagement_data/7342.csv
  inflating: engagement_data/7352.csv
  inflating: engagement_data/7387.csv
  inflating: engagement_data/7457.csv
  inflating: engagement_data/7541.csv
  inflating: engagement_data/7614.csv
  inflating: engagement_data/7660.csv
  inflating: engagement_data/7675.csv
  inflating: engagement_data/7723.csv
  inflating: engagement_data/7741.csv
  inflating: engagement_data/7752.csv
  inflating: engagement_data/7767.csv
  inflating: engagement_data/7785.csv
  inflating: engagement_data/7798.csv
  inflating: engagement_data/7829.csv
  inflating: engagement_data/7858.csv
  inflating: engagement_data/7964.csv
  inflating: engagement_data/7970.csv
  inflating: engagement_data/7975.csv
  inflating: engagement_data/7980.csv
  inflating: engagement_data/8017.csv
  inflating: engagement_data/8076.csv
  inflating: engagement_data/8103.csv
  inflating: engagement_data/8127.csv
  inflating: engagement_data/8160.csv
  inflating: engagement_data/8184.csv
  inflating: engagement_data/8256.csv
  inflating: engagement_data/8328.csv
  inflating: engagement_data/8425.csv
  inflating: engagement_data/8433.csv
  inflating: engagement_data/8515.csv
  inflating: engagement_data/8520.csv
  inflating: engagement_data/8539.csv
  inflating: engagement_data/8556.csv
  inflating: engagement_data/8685.csv
  inflating: engagement_data/8702.csv
  inflating: engagement_data/8723.csv
  inflating: engagement_data/8748.csv
  inflating: engagement_data/8784.csv
  inflating: engagement_data/8796.csv
  inflating: engagement_data/8815.csv
  inflating: engagement_data/8845.csv
  inflating: engagement_data/8884.csv
  inflating: engagement_data/8902.csv
  inflating: engagement_data/8937.csv
  inflating: engagement_data/9007.csv
  inflating: engagement_data/9043.csv
  inflating: engagement_data/9120.csv
  inflating: engagement_data/9140.csv
  inflating: engagement_data/9230.csv
  inflating: engagement_data/9303.csv
  inflating: engagement_data/9357.csv
  inflating: engagement_data/9463.csv
  inflating: engagement_data/9478.csv
  inflating: engagement_data/9515.csv
  inflating: engagement_data/9536.csv
  inflating: engagement_data/9537.csv
  inflating: engagement_data/9553.csv
  inflating: engagement_data/9589.csv
  inflating: engagement_data/9729.csv
  inflating: engagement_data/9778.csv
  inflating: engagement_data/9812.csv
  inflating: engagement_data/9839.csv
  inflating: engagement_data/9899.csv
  inflating: engagement_data/9927.csv
  inflating: products_info.csv

In [14]:
# get file name and assign to a new column district_id
files = glob.glob("engagement_data/*.csv")
list_of_df = [pd.read_csv(file).assign(district_id=os.path.basename(file).strip(".csv")) for file in files] 
#list_of_df = [pd.read_csv(file) for file in files]

In [15]:
engagement = pd.concat(list_of_df, ignore_index= True)

In [16]:
engagement.shape

(22324190, 5)

In [62]:
engagement.head(5)

         time    lp_id  pct_access  engagement_index district_id
0  2020-01-01  53627.0        0.00               NaN        3322
1  2020-01-01  13591.0        0.00              0.04        3322
2  2020-01-01  49050.0        0.00              0.12        3322
3  2020-01-01  98265.0        0.02              0.76        3322
4  2020-01-01  49785.0        0.01              0.16        3322

In [51]:
districts = pd.read_csv("districts_info.csv")
products = pd.read_csv("products_info.csv")

In [52]:
print(districts.shape)
print(products.shape)

(233, 7)
(372, 6)

In [53]:
districts.head(5)

   district_id     state  ... county_connections_ratio    pp_total_raw
0         8815  Illinois  ...                [0.18, 1[  [14000, 16000[
1         2685       NaN  ...                      NaN             NaN
2         4921      Utah  ...                [0.18, 1[    [6000, 8000[
3         3188       NaN  ...                      NaN             NaN
4         2238       NaN  ...                      NaN             NaN

[5 rows x 7 columns]

In [27]:
products.head(5)

   LP ID  ...                         Primary Essential Function
0  13117  ...                    LC - Digital Learning Platforms
1  66933  ...                    LC - Digital Learning Platforms
2  50479  ...  LC - Sites, Resources & Reference - Games & Si...
3  92993  ...                    LC - Digital Learning Platforms
4  73104  ...                    LC - Digital Learning Platforms

[5 rows x 6 columns]

## Data cleaning and Preprocessing


1.   Work with missing values
2.   Get dummies sectors

In [ ]:
print(districts.info())
print(engagement.info())
print(products.info())

In [54]:
#work with missing values in districts
districts.isnull().sum()/len(districts)
districts[districts.state.notna()].reset_index(drop=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 233 entries, 0 to 232
Data columns (total 7 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   district_id               233 non-null    int64
 1   state                     176 non-null    object
 2   locale                    176 non-null    object
 3   pct_black/hispanic        176 non-null    object
 4   pct_free/reduced          148 non-null    object
 5   county_connections_ratio  162 non-null    object
 6   pp_total_raw              118 non-null    object
dtypes: int64(1), object(6)
memory usage: 12.9+ KB

     district_id           state  ... county_connections_ratio    pp_total_raw
0           8815        Illinois  ...                [0.18, 1[  [14000, 16000[
1           4921            Utah  ...                [0.18, 1[    [6000, 8000[
2           5987       Wisconsin  ...                [0.18, 1[  [10000, 12000[
3           3710            Utah  ...                [0.18, 1[    [6000, 8000[
4           7177  North Carolina  ...                [0.18, 1[   [8000, 10000[
..           ...             ...  ...                      ...             ...
171         9515        New York  ...                [0.18, 1[  [18000, 20000[
172         8103       Tennessee  ...                [0.18, 1[   [8000, 10000[
173         4929        Virginia  ...                [0.18, 1[  [12000, 14000[
174         7975      California  ...                [0.18, 1[             NaN
175         7164      California  ...                [0.18, 1[             NaN

[176 rows x 7 columns]

In [27]:
# convert datetime type, district_id to int64 (same as districts)
engagement['time'] = pd.to_datetime(engagement['time'])
engagement['district_id']= engagement['district_id'].astype(str).astype(int)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22324190 entries, 0 to 22324189
Data columns (total 5 columns):
 #   Column            Dtype
---  ------            -----
 0   time              datetime64[ns]
 1   lp_id             float64
 2   pct_access        float64
 3   engagement_index  float64
 4   district_id       object
dtypes: datetime64[ns](1), float64(3), object(1)
memory usage: 851.6+ MB

time                0.000000
lp_id               0.000024
pct_access          0.000602
engagement_index    0.240923
district_id         0.000000
dtype: float64

In [ ]:
# get dummies sector for products.
sectors = products['Sector(s)'].str.get_dummies(sep="; ")
sectors.columns = [f"sector_{re.sub(' ', '', c)}" for c in sectors.columns]
products = products.join(sectors)
products.drop("Sector(s)", axis=1, inplace=True)

del sectors

In [63]:
products

     LP ID  ... sector_PreK-12
0    13117  ...              1
1    66933  ...              1
2    50479  ...              1
3    92993  ...              1
4    73104  ...              1
..     ...  ...            ...
367  88065  ...              1
368  37805  ...              1
369  32555  ...              1
370  87841  ...              0
371  36254  ...              0

[372 rows x 8 columns]

## **Exploratory Data Analysis**

### 1. Districts

In [64]:
districts.tail(5)

     district_id       state  ... county_connections_ratio    pp_total_raw
228         9515    New York  ...                [0.18, 1[  [18000, 20000[
229         8103   Tennessee  ...                [0.18, 1[   [8000, 10000[
230         4929    Virginia  ...                [0.18, 1[  [12000, 14000[
231         7975  California  ...                [0.18, 1[             NaN
232         7164  California  ...                [0.18, 1[             NaN

[5 rows x 7 columns]